files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_script.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      sudo npm install
      sudo npm install -g typescript

container_commands:
  run:
    command:
      - npm install
      - npm install -g typescript
      - npm run build